/* src/components/AnimatedImage.css */

.video-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 35%; /* 16:9 aspect ratio */
  }
  
  .responsive-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }